{% include 'include/header.html.twig' %}

All pages:
<ul>
    {% for item in site.pages|sortByDate %}
        <li>
            <a href="{{ url(item) }}">{{ item.title }}</a> [id: {{ item.id }} | date: {{ item.date|date("d/m/Y") }} | type: {{ item.nodetype }}]
        </li>
    {% endfor %}
</ul>

{% include 'include/footer.html.twig' %}
