<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>{{ site.title }}</title>
        <description><![CDATA[{{ site.description|escape }}]]></description>
        <lastBuildDate>{{ page.date|date('Y-m-dTH:i:sP') }}</lastBuildDate>
        <link>{{ url('/', true) }}</link>
        {% for page in site.pages|filterBy('section', 'blog')|sortByDate %}
            <item>
                <title>{{ page.title }}</title>
                <description><![CDATA[{{ page.content }}]]></description>
                <pubDate>{{ page.date|date('Y-m-dTH:i:sP') }}</pubDate>
                <link>{{ url(page, true) }}</link>
            </item>
        {% endfor %}
    </channel>
</rss>
