{% include 'include/header.html.twig' %}

<p>Pages:</p>
{% if page.pagination is defined %}
<ul>
    {% for item in page.pagination.pages %}
    <li>
        <a href="{{ url(item) }}">{{ item.title }}</a> ({{ item.id }} - {{ item.date|date("d/m/Y") }})
        <p>{{ item.content|excerpt }}</p>
    </li>
    {% endfor %}
</ul>
<p>
    {% if page.pagination.prev is defined %}
    <a href="{{ url(page.pagination.prev) }}">Prev</a>
    {% endif %}
    {% if page.pagination.prev is defined and page.pagination.next is defined %}|{% endif %}
    {% if page.pagination.next is defined %}
    <a href="{{ url(page.pagination.next) }}">Next</a>
    {% endif %}
</p>
{% else %}
<ul>
    {% for item in page.pages %}
    <li>
        <a href="{{ url(item) }}">{{ item.title }}</a> ({{ item.id }} - {{ item.date|date("d/m/Y") }})
        <p>{{ item.content|excerptHtml }}</p>
    </li>
    {% endfor %}
</ul>
{% endif %}

<p>layout: {{ _self.getTemplateName() }}</p>
{% include 'include/footer.html.twig' %}
