{% include 'include/header.html.twig' %}

<h1 class="page-title">{{ page.singular|title }} "{{ page.title }}"</h1>
<ul>
    {% for term in page.pagination.pages|sortByDate %}
    <li>
        <a href="{{ url(term) }}">{{ term.title }}</a>
    </li>
    {% endfor %}
</ul>

<p>layout: {{ _self.getTemplateName() }}</p>
{% include 'include/footer.html.twig' %}
