{% include 'include/header.html.twig' %}

<h2>{{ page.plural }}</h2>
<ul>
    {% for name, term in page.terms %}
    <li><h2><a href="{{ url(page.plural ~ '/' ~ name) }}">{{ name }}</a> ({{ term|length }})</h2>
        <ul>
            {% for page in term %}
            <li><a href="{{ url(page) }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

<p>layout: {{ _self.getTemplateName() }}</p>
{% include 'include/footer.html.twig' %}
